<css src="coresystem:css/reset.css" />
<css src="coresystem:css/ControlPanelFrame.css" />

<div class="coresystem-header">
	<div class="coresystem-htop">
		<h1><a href="?c=index" class="coresystem-logo">OpenComb</a></h1>
		
		<p class="coresystem-othernav">
			<a href="?c=index">首页</a>
			<widget class='namecard' attr.model='\org\jecat\framework\auth\IdManager::singleton()->currentId()->model()' 
				attr.model.type='expression' attr.type='normal' attr.template='coresystem:NameCard_full.html'/>
			<!-- <if "$aId=\org\jecat\framework\auth\IdManager::singleton()->currentId()">
				| {=$aId->username()}
				<a href="?c=logout">退出</a>
			</if> -->
		</p>
	</div>
	<p class="coresystem-slogan">Hi, here is the Control Panel of OpenComb.</p>
	<div class="coresystem-mainnav">
		<widget id="mainMenu" attr.showDepths="1" />
	</div>
</div>
<div class="coresystem-main">
	<div class="coresystem-leftnav">
		
		<widget id="mainMenu" attr.depth="1" attr.showDepths="4" />
		
	</div>
	<div class="coresystem-content">

		

		<div class="coresystem-c-inner">

			<views />
		</div>
	</div>
</div>