<css src="coresystem:css/reset.css" />
<css src="coresystem:css/ControlPanelFrame.css" />

<div class="coresystem-header">
	<div class="coresystem-htop">
		<h1><a href="?c=index" class="coresystem-logo">OpenComb</a></h1>
		
		<div class="coresystem-othernav">
			<a href="?c=index">首页</a>
			
			<if "$aCurrentId=\org\jecat\framework\auth\IdManager::singleton()->currentId()">
			
				<select onchange="window.location.href='/?c=org.opencomb.coresystem.user.SwichId&uid=' + this.options[this.selectedOption].value">
					<foreach for="\org\jecat\framework\auth\IdManager::singleton()->iterator()" item='aId'>
					<option value="{=$aId->userId()}"{= $aId===$aCurrentId? ' selected': ''}>{=$aId->displayName()}</option>
					</foreach>
				</select>
				
				<a href="?c=logout&forward=%3Fc%3Dindex">退出</a>
			</if>
			
		</div>
	</div>
	<p class="coresystem-slogan">Hi, here is the Control Panel of OpenComb.</p>
	<div class="coresystem-mainnav">
	
		<widget id="mainMenu" type='menu' attr.showDepths="1">
			<item title="系统" id="system" controller="org.opencomb.coresystem.system.DebugStatSetting">
				<item title="平台维护" id="platform-manage" controller="org.opencomb.coresystem.system.ExtensionSetupController">
					<item title="扩展中心" id="extensionstoresetup" controller="org.opencomb.coresystem.system.ExtensionStoreOpen"/>
					<item title="扩展管理" id="extension-manage" controller="org.opencomb.coresystem.system.ExtensionManagerController" />
					<item title="安装扩展" id="extension-setup" controller="org.opencomb.coresystem.system.ExtensionSetupController" />
					<item title="系统升级" id="platform-upgrade" controller="org.opencomb.coresystem.system.SystemUpgrade" />
					<item title="系统重建" id="platform-rebuiild" controller="org.opencomb.coresystem.system.RebuildPlatform" />
					<item title="调式状态" id="debug-stat" controller="org.opencomb.coresystem.system.DebugStatSetting" />
				</item>
			</item>
			<item title="用户" id="user" controller="org.opencomb.coresystem.user.AdminUsers">
			
				<item title="用户管理" id="user-manager" controller="org.opencomb.coresystem.user.AdminUsers">
					<query bean.type="string">c=org.opencomb.coresystem.user.AdminUsers</query>
					<query bean.type="string">c=org.opencomb.coresystem.user.AdminUsers</query>
					<query bean.type="string">c=org.opencomb.coresystem.auth.PurviewSetting&type=user</query>
					<query bean.type="string">c=org.opencomb.coresystem.auth.PurviewTester</query>
					<query bean.type="string">c=org.opencomb.coresystem.user.UserGroupsSetting</query>
				</item>
				
				<item title="用户组" id="group" controller="org.opencomb.coresystem.group.AdminGroups">
					<query bean.type="string">c=org.opencomb.coresystem.group.CreateGroup"</query>
					<query bean.type="string">c=org.opencomb.coresystem.group.AdminGroups"</query>
					<query bean.type="string">c=org.opencomb.coresystem.auth.PurviewSetting&type=group"</query>
					
					<item title="新建用户组" id="create-group" controller="org.opencomb.coresystem.group.CreateGroup" />
					<item title="管理用户组" id="group-manager" controller="org.opencomb.coresystem.group.AdminGroups">
						<query bean.type="string">c=org.opencomb.coresystem.group.AdminGroups</query>
						<query bean.type="string">c=org.opencomb.coresystem.auth.PurviewSetting&type=group</query>
					</item>
				</item>
			</item>
		</widget>
		
	</div>
</div>
<div class="coresystem-main">
	<div class="coresystem-leftnav">
		
		<widget id="mainMenu" type='menu' attr.depth="1" attr.showDepths="4" />
		
	</div>
	<div class="coresystem-content">

		<div class="coresystem-c-inner">
			<views />
		</div>
	</div>
</div>