<css src="coresystem:css/reset.css" />
<css src="coresystem:css/FrontFrame.css" />
<lib name='jquery'/>

<div class="frontframe-header">
	<p class="frontframe-othernav">
	<if "$aId=\org\jecat\framework\auth\IdManager::singleton()->currentId()">
		
		Hi,
		<select onchange="window.location.href='/?c=org.opencomb.coresystem.user.SwichId&uid=' + this.options[this.selectedOption].value">
			<foreach for="\org\jecat\framework\auth\IdManager::singleton()->iterator()" item='aId'>
			<option value="{=$aId->userId()}"{= $aId===$aCurrentId? ' selected': ''}>{=$aId->displayName()}</option>
			</foreach>
		</select>
				
		<if "\org\opencomb\coresystem\auth\PurviewQuery::singleton()->hasPurview($aId,\org\opencomb\coresystem\auth\Id::PLATFORM_ADMIN,'coresystem')">
			| <a href="?c=control.panel">控制面板</a>
		</if>
		
		| <a href="?c=logout">退出</a>
		
	<else />
		<a href="?c=login">登录</a>
	</if>
	</p>
	<h1><a href="#" class="frontframe-logo">OpenComb</a></h1>
</div>



<div class="frontframe-main">
	<div class="frontframe-main-inner">
		<div class="frontframe-mainnav">
		<div class="frontframe-slogan"></div>
			<widget id="mainMenu" type='menu' >
				<item title="首页" link="?c=index" />
			</widget>
		</div>
		
		<div class="frontframe-body">
			<views />
		</div>
	</div>
</div>

<div class="frontframe-footer">
	<p>Copyright 2012 OpenComb.com All rights reserved.</p>
</div>
<script>
jquery(function(){
	jquery('.namecard_simple_card_id_select').change(function(){
		window.location.href='/?c=org.opencomb.coresystem.user.SwichId&uid=' + jquery(this).val();
	});
});
</script>