<css src="coresystem:css/reset.css" />

<css src="coresystem:css/FrontFrame.css" />



<div class="frontframe-header">
	<p class="frontframe-othernav">
	<if "$aId=\org\jecat\framework\auth\IdManager::singleton()->currentId()">
		Hi, {=$aId->username()}
		<if "\org\opencomb\coresystem\auth\PurviewQuery::singleton()->hasPurview($aId,\org\opencomb\coresystem\auth\Id::PLATFORM_ADMIN,'coresystem')">
			| <a href="?c=control.panel">平台管理</a>
		</if>
		| <a href="?c=logout">退出</a>
	<else />
		<a href="?c=login">登录</a>
	</if>
	</p>
	<h1><a href="#" class="frontframe-logo">OpenComb</a></h1>
</div>



<div class="frontframe-main">
	<div class="frontframe-main-inner">
		<div class="frontframe-mainnav">
		<div class="frontframe-slogan"></div>
		<widget id="mainMenu" />
		</div>
		<views />
	</div>
</div>

<div class="frontframe-footer">
	<p>Copyright 2010 Cando.All rights reserved.</p>
</div>
