{?$arrSort=\com\wonei\woneibridge\aspect\NamecardAspect::getSocietyIconSort($aModel->child("oauthUser"))}
	<div class='namecard_normal_card_society_icons'>
		<if '$arrSort[0]["weibo.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/weibo.com.gif}' title='新浪微博'/>
		</if>
		<if '$arrSort[0]["t.qq.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/t.qq.com.gif}' title='腾讯微博'/>
		</if>
		<if '$arrSort[0]["163.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/163.com.gif}' title='网易微博'/>
		</if>
		<if '$arrSort[0]["sohu.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/sohu.com.gif}' title='搜狐微博'/>
		</if>
		<if '$arrSort[0]["renren.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/renren.com.gif}' title='人人网'/>
		</if>
		<if '$arrSort[0]["douban.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/douban.com.gif}' title='豆瓣网'/>
		</if>
		
		
		
		<if '$arrSort[1]["weibo.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/weibo-gray.gif}' title='新浪微博'/>
		</if>
		<if '$arrSort[1]["t.qq.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/qq-gray.gif}' title='腾讯微博'/>
		</if>
		<if '$arrSort[1]["163.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/163-gray.gif}' title='网易微博'/>
		</if>
		<if '$arrSort[1]["sohu.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/sohu-gray.gif}' title='搜狐微博'/>
		</if>
		<if '$arrSort[1]["renren.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/ren-gray.gif}' title='人人网'/>
		</if>
		<if '$arrSort[1]["douban.com"] === 1'>
			<img src='{/oc-wonei-bridge:images/from/douban-gray.gif}' title='豆瓣网'/>
		</if>
	</div>
	
	<div class='namecard_normal_card_society_v_icons'>
		<if '$arrSort[2]["weibo.com"] === "1"'>
			<img src='{/oc-wonei-bridge:images/from/weibo-v.gif}' title='新浪认证'/>
		</if>
		<if '$arrSort[2]["t.qq.com"] === "1"'>
			<img src='{/oc-wonei-bridge:images/from/qq-v.gif}' title='腾讯认证'/>
		</if>
		<if '$arrSort[2]["163.com"] === "1"'>
			<img src='{/oc-wonei-bridge:images/from/163-v.gif}' title='网易认证'/>
		</if>
		<if '$arrSort[2]["sohu.com"] === "1"'>
			<img src='{/oc-wonei-bridge:images/from/sohu-v.gif}' title='搜狐认证'/>
		</if>
	</div>
		


<if 'org\jecat\framework\auth\IdManager::fromSession()->currentId()'>
<div class="namecard_normal_card_state_part">
	<if '!$theWidget->isMine()'>
		<!-- <a class='namecard_normal_card_message' href='#'>留言</a> | -->
			<if '$aModel->child("subscription")->to'>
				<input type="hidden" value="1"/>
				<a href="javascript:;" class='namecard_normal_card_be_friend' onClick="switchFriend({=$aModel["uid"]},this)" >取消关注</a>
			<else/>
				<if 'org\jecat\framework\auth\IdManager::fromSession()->currentId()->userId() != $aModel["uid"]'>
					<input type="hidden" value="0"/>
					<a href="javascript:;" class='namecard_normal_card_be_friend' onClick="switchFriend({=$aModel["uid"]},this)" >关注</a>
				</if>
			</if>
	<else/>
		<a class='namecard_normal_card_logout' href='?c=logout'>退出</a>
	</if>
</div>
</if>