{? $aModel = $theWidget->model()}
<if '$aModel'>
<lib name='jquery'/>
<div class='namecard_normal' id="namecard_normal_{=$aModel['uid']}" username="{=$aModel['username']}">
<div class='namecard_normal_card_simple'>
	<div class='namecard_normal_card_face'>
		<img src='{=$theWidget->faceUrl($aModel)}' width=60 height=60/>
	</div>
	<div class='namecard_normal_card_name'>
		{=$aModel['username']}
	</div>
</div>
<div class='namecard_normal_card_full'>
	<div class='namecard_normal_card_face_part'>
		<div class='namecard_normal_card_face'>
			<img src='{=$theWidget->faceUrl($aModel)}' width=60 height=60/>
		</div>
		<div class='namecard_normal_card_name'>
			{=$aModel['username']}
		</div>
		<div class='namecard_normal_card_sex'>
			{=$aModel['info.sex']}
		</div>
	</div>
	<div class='namecard_normal_card_social_part'>
		<if '!$theWidget->isMine()'>
			<a class='namecard_normal_card_message' href='#'>留言</a> |
			<a class='namecard_normal_card_be_friend' href='#'>加为好友</a>
		<else/>
			<a class='namecard_normal_card_logout' href='?c=logout'>退出</a>
		</if>
	</div>
</div>
</div>
</if>