<lib name='jquery'/>
<span class='namecard_simple'>
{? $aModel = $theWidget->model()}
<if '$aModel'>
	<if '$theWidget->isCurrent()'>
		<select class='namecard_simple_card_id_select'>
			<foreach for='$theWidget->idIterator()' item='aIdModel'>
				<option value="{=$aIdModel['uid']}" {=$aIdModel['uid'] == $theWidget->uid() ? 'selected':''}>{=$aIdModel['username']}</option>
			</foreach>
		</select>
	</if>
</if>
</span>
<script>
jquery(function(){
	jquery('.namecard_simple_card_id_select').change(function(){
		window.location.href='/?c=org.opencomb.coresystem.user.SwichId&uid=' + jquery(this).val();
	});
});
</script>