
<h1>权限设置</h1>

<msgqueue />

<form method="post">

	<foreach for="$arrRegisteredPurviews" item="arrExtension" key="sExtName">
	<div>
		<h3>{=$arrExtension['title']} ({=$sExtName})</h3>
	
		<foreach for="$arrExtension['purviews']" item="arrPurviews" key="sPurviewName">
			<foreach for="$arrPurviews" item="arrPurviewBit" key="nBit">
			<label for="purview-{=$sExtName}-{=$sPurviewName}-{=$nBit}">
				<input type="checkbox" id="purview-{=$sExtName}-{=$sPurviewName}-{=$nBit}" name="purviews[{=$sExtName}][{=$sPurviewName}][{=$nBit}]" value='{=$arrPurviewBit['title']}' {#? if(!empty($arrPurviewBit['checked'])){ #}checked{#? } #}/>
				{=$arrPurviewBit['title']}
			</label>
			</foreach>
		</foreach>
	
	</div>
	</foreach>

	<input type="submit" value="保存" />
</form>