@charset "utf-8";
/* CSS Document */

.warning{
	color:red;
}
.notice{
	color:blue;
}
.selectUnistallType{
	display:none;
}
.selectUnistallTypeItem{
	padding-left:20px;
}
.selectDisableType{
	display:none;
}
.selectDisableTypeItem{
	padding-left:20px;
}
.dialog{
	display:none;
}

.descontent{
	width: 100%;
	word-wrap: break-word;
}
.back{
	color:blue ;
	font-size : 32px;
}


.extension{padding:10px; border-radius:5px;margin:5px 0;background:#fff;}
.extension:hover{ background:#f6f6f6;}
.priority dt{width:50px; float:left;}
.priority dd{margin-left:60px;margin-bottom:6px;}
.titleBlock{ position:relative}

.priority dd h4{ font-size:18px; font-weight:normal;}
.priority dd h4 span{ font-size:14px; color:#666}

.extOther{ position:absolute; top:0; right:0;}
.extOther span{margin-left:10px;}
.disable{color:#f90; text-decoration:underline}
a:hover.disable{color:#f90; text-decoration:none}
.uninstall{color:#6C0; text-decoration:underline}
a:hover.uninstall{color:#6C0; text-decoration:none}

.ex_up,.ex_down{margin-left:10px;}

.descontent{ white-space:pre-wrap;padding:0; margin:0; line-height:150%;}
.descontent a{ color:#09C; text-decoration:underline; cursor:pointer}
.descontent a:hover{ text-decoration:none}

.showRelationBlock{ background:#eaeaea url(../images/ex_bg.jpg) repeat-x 0 0;border:1px solid #e6e6e6;padding:5px; border-radius:5px;}
.showDepByBlock{}
.yl,.byl{ width:49%; float:left;}
.yl{margin-right:1%;}
.yl_tit{ border-right:1px solid #ddd}


.ulDepList,.ulDepByList{font-size:18px; color:#000; line-height:150%;}
.ulDepList .ulDepList,.ulDepByList .ulDepByList{ font-size:15px; color:#333;padding-left:20px;}
.ulDepList .ulDepList .ulDepList,.ulDepByList .ulDepByList .ulDepByList{ font-size:12px; color:#666;}


.ex_back{width:85px; height:28px; line-height:28px; margin-top:15px;  display:block; background:url(../images/form-btn.jpg) no-repeat 0 0; overflow:hidden; font-size:14px; color:#666; text-align:center}
.ex_back:hover{ background-position:-85px 0; color:#fff; text-decoration:none;}


.tabActive{font-weight: bold;}
.tabUnactive{color: #666;}
