<css src="coresystem:css/ExtensionSetupController.css" />
<h1>安装扩展</h1>

<msgqueue />

<div>
	<h2>平台中可用的扩展</h2>
	<foreach for="$arrPlatformExtensions" key="sExtTitle" item='arrExtensionList'>
		<li style="padding-top:10px">
		<h4>{=$sExtTitle}</h4>
			<ul>
			<foreach for="$arrExtensionList" item='aExtMeta'>
				<li style="padding-left:40px">
					版本：{=$aExtMeta->version()}
					<if "$aExtMeta->properties()->get('installed')">
						<span style="padding-left:20px">已安装</span>
					<else/>
						<form class="extsetup" action="?c=org.opencomb.coresystem.system.ExtensionSetupController" method="post">
							<input type='hidden' name='extensionPath' value="{=$aExtMeta->properties()->get('path')}" />
							<input type='submit' value='安装' />
						</form>
					</if>
				</li>
			</foreach>
			</ul>
		</li>
	</foreach>
</div>
<br />
<br />
<br />

<div>
	<h2>指定安装路径</h2>
	<form method="post">
		扩展目录路径：
		<widget
			type="text"
			id='extensionPath'
			bean.title='扩展目录路径'
			bean.value ='extensions/...'
			bean.verifiers.notempty.x='1'
			attr.style="width:400px" />
		<input type="submit" name="安装" />
	</form>
</div>

<br />
<br />
<br />
