<h1>安装扩展</h1>

<msgqueue />

<div>
	<h2>平台中可用的扩展</h2>
	<foreach for="$arrPlatformExtensions" key="sExtTitle" item='arrExtensionList'>
		<li style="padding-top:10px">
		<h4>{=$sExtTitle}</h4>
			<ul>
			<foreach for="$arrExtensionList" item='aExtMeta'>
				<li style="padding-left:40px">
					版本：{=$aExtMeta->version()} 
					<a style="padding-left:20px" href="?c=org.opencomb.coresystem.system.ExtensionSetupController&extensionPath={=urlencode($aExtMeta->properties()->get('path'))}&act=submit">安装</a>
				</li>
			</foreach>
			</ul>
		</li>
	</foreach>
</div>
<br />
<br />
<br />

<div>
	<h2>指定安装路径</h2>
	<form method="post">
		扩展目录路径：<widget type="text" id='extensionPath' attr.style="width:400px" />
		<input type="submit" name="安装" />
	</form>
</div>

<br />
<br />
<br />
