<lib name="jquery.ui" />
<css src="coresystem:css/extension.css" />
<msgqueue />
<if '$rebuild === "1" '>
	<view name='rebuild' />

	<div>
		<a class='ex_back' href='/?c=org.opencomb.coresystem.system.ExtensionManager'>返回</a>
	</div>
<else />

<script type='text/javascript'>
var arrDependenceBy={=json_encode($arrDependenceBy)};
var arrEnableState={=json_encode($arrEnableState)};
function changePriority(name,priority){
	window.location='/?c=org.opencomb.coresystem.system.ExtensionManager&act=changePriority&name='+name+'&priority='+priority;
}
function changeOrder(sExtName,direction){
	window.location='/?c=org.opencomb.coresystem.system.ExtensionManager&act=changeOrder&name='+sExtName+'&dire='+direction;
}
</script>
<div id="dialogUninstall" class="dialog">
	<div class="warning dep">
		将会卸载以下扩展：
		<div class='depByList'>
		</div>
	</div>
	<input type='checkbox' name='code' />清除源代码
	<br />
	<input type='checkbox' name='data' />清除数据
</div>
<script type='text/javascript'>
function unistallExtension(sExtName){
	var objDialog = jQuery('#dialogUninstall');
	var divDep = objDialog.find('.dep');
	var objDepByList = objDialog.find('.depByList');
	
	objDepByList.empty();
	if( typeof(arrDependenceBy[sExtName]) == 'undefined'){
		divDep.css('display','none');
	}else{
		divDep.css('display','block');
		objDepByList.append(getDependenceByRecursively(sExtName));
	}
	
	objDialog.dialog({
		buttons:{
			'确定':function(){
				jQuery(this).dialog('close');
				var code = jQuery(this).find('input[name="code"]').attr('checked');
				console.log(code);
				var sCode = '';
				if(code=='checked'){
					sCode = 'remove';
				}else{
					sCode = 'keep';
				}
				var data = jQuery(this).find('input[name="data"]').attr('checked');
				console.log(data);
				var sData = '';
				if(data=='checked'){
					sData = 'remove';
				}else{
					sData = 'keep';
				}
				window.location='/?c=org.opencomb.coresystem.system.ExtensionManager&act=uninstall&name='+sExtName+'&code='+sCode+'&data='+sData;
			},
			'取消':function(){
				jQuery(this).dialog('close');
			}
		},
		bgiframe:true,
		title:'选择卸载方式'
	});
}
function getDependenceByRecursively(sExtName , bIgnoreEnable ){
	var str = '';
	str += '<ul class="ulDepByList">';
	for(var i=0;i<arrDependenceBy[sExtName].length;++i){
		var sDepByExtName = arrDependenceBy[sExtName][i];
		
		// 不包含未启用的扩展
		if(!bIgnoreEnable || arrEnableState[sDepByExtName]){
			str += '<li>'+sDepByExtName;
			if(typeof(arrDependenceBy[sDepByExtName]) != 'undefined'){
				str += getDependenceByRecursively(sDepByExtName , bIgnoreEnable);
			}
			str += '</li>';
		}
	}
	str += '</ul>';
	return str;
}
</script>
<div id="dialogDisable" class="dialog">
	<div class="warning depwarning">
		将会禁用以下扩展：
		<div class="depbyBlock">
			<ul class="ulDepByList">
			</ul>
		</div>
	</div>
</div>
<script type='text/javascript'>
function disableExtension(sExtName){
	var objDialog = jQuery('#dialogDisable');
	var divDep = objDialog.find('.depwarning');
	var objDepByList = objDialog.find('.depbyBlock');
	
	objDepByList.empty();
	if( typeof(arrDependenceBy[sExtName]) == 'undefined'){
		divDep.css('display','none');
	}else{
		divDep.css('display','block');
		objDepByList.append(getDependenceByRecursively(sExtName,true));
	}
	
	objDialog.dialog({
		buttons:{
			'确定':function(){
				window.location='/?c=org.opencomb.coresystem.system.ExtensionManager&act=disable&name='+sExtName;
				jQuery(this).dialog('close');
			},
			'取消':function(){
				jQuery(this).dialog('close');
			}
		},
		bgiframe:true,
		title:'确认禁用'
	});
}
</script>
<div id="dialogEnable" class="dialog">
	<div class="notice depnotice">
		将会激活以下扩展：
		<div class="depBlock">
			<ul class="ulDepList">
			</ul>
		</div>
	</div>
</div>
<script type='text/javascript'>
var arrDependence = {=json_encode($arrDependence)};
function enableExtension(sExtName){
	var objDialog = jQuery('#dialogEnable');
	var divDep = objDialog.find('.depnotice');
	var objDepList = objDialog.find('.depBlock');
	
	objDepList.empty();
	if( typeof(arrDependence[sExtName]) == 'undefined'){
		divDep.css('display','none');
	}else{
		divDep.css('display','block');
		objDepList.append(getDependenceRecursively(sExtName , true));
	}
	
	objDialog.dialog({
		buttons:{
			'确定':function(){
				window.location='/?c=org.opencomb.coresystem.system.ExtensionManager&act=enable&name='+sExtName;
				jQuery(this).dialog('close');
			},
			'取消':function(){
				jQuery(this).dialog('close');
			}
		},
		bgiframe:true,
		title:'确认激活'
	});
}
function getDependenceRecursively(sExtName , bIgnoreEnable ){
	var str = '';
	str += '<ul class="ulDepList">';
	for(var i=0;i<arrDependence[sExtName].length;++i){
		var sDepByExtName = arrDependence[sExtName][i];
		
		// 不包含已启用的扩展
		if(!bIgnoreEnable || !arrEnableState[sDepByExtName]){
			str += '<li>'+sDepByExtName;
			if(typeof(arrDependence[sDepByExtName]) != 'undefined'){
				str += getDependenceRecursively(sDepByExtName , bIgnoreEnable );
			}
			str += '</li>';
		}
	}
	str += '</ul>';
	return str;
}
</script>
<script type='text/javascript'>
var containLength = 80 ;
jQuery(function(){
	jQuery('.descontent').each(function (){
		var fullText = this.innerHTML;
		this.fullText = fullText ;
		this.button = jQuery('<a></a>');
		this.expand = function(){
			this.innerHTML = this.fullText ;
			this.button[0].innerHTML = '收起';
			jQuery(this).append(this.button);
			var descont = this ;
			this.button.click(function(){
				descont.contract();
			});
		}
		this.contract = function(){
			this.innerHTML = this.fullText.substr(0,containLength);
			this.button[0].innerHTML = '展开';
			jQuery(this).append(this.button);
			var descont = this ;
			this.button.click(function(){
				descont.expand();
			});
		}
		if( fullText.length > containLength ){
			this.contract();
		}
	});
});

function showDep(sName,o){
	var inner = getDependenceRecursively(sName , false );
	jQuery(o).closest('.showRelationBlock').find('.showDepBlock').append( inner );
	o.innerHTML = "<img src='/extensions/coresystem/0.1/public/images/ex_jian.png' title='收起' />";
	o.onclick = function(){
		hideDep(sName,o);
	}
}
function hideDep(sName,o){
	jQuery(o).closest('.showRelationBlock').find('.showDepBlock').empty();
	o.innerHTML = "<img src='/extensions/coresystem/0.1/public/images/ex_jia.png' title='展开' />";
	o.onclick = function(){
		showDep(sName,o);
	}
}

function showDepBy(sName,o){
	var inner = getDependenceByRecursively(sName , false );
	jQuery(o).closest('.showRelationBlock').find('.showDepByBlock').append( inner );
	o.innerHTML ="<img src='/extensions/coresystem/0.1/public/images/ex_jian.png' title='收起' />";
	o.onclick = function(){
		hideDepBy(sName,o);
	}
}
function hideDepBy(sName,o){
	jQuery(o).closest('.showRelationBlock').find('.showDepByBlock').empty();
	o.innerHTML = "<img src='/extensions/coresystem/0.1/public/images/ex_jia.png' title='展开' />";
	o.onclick = function(){
		showDepBy(sName,o);
	}
}
</script>
<h2>已经启用的扩展</h2>
<foreach for="$arrPriority" item="arrExtName" key="nPriority">
	<h3>优先级：{=$nPriority}</h3>
	<div class="priority">
	<foreach for="$arrExtName" item="sExtName">
		<dl class='extension'>
			<dt class='logo'>
				<img src='/extensions/coresystem/0.1/public/images/ex_icon.png' />
			</dt>
			<dd>
			<div class='titleBlock'>
				<h4 class='extTitle'>{=$arrEnabledExtensions[$sExtName]->metainfo()->title()} <span class='extName'>（{=$sExtName} ver : {=$arrEnabledExtensions[$sExtName]->metainfo()->version()}）</span></h4>
				<div class="extOther">
					<span><a href='#' class='disable' onclick="disableExtension('{=$sExtName}');return false;">禁用</a>
					<a href='#' class='uninstall' onclick="unistallExtension('{=$sExtName}');return false;">卸载</a></span>
					<span>优先级：
				<select onchange="changePriority('{=$sExtName}',this.value)">
					<loop end='9' var='n'>
						<if '$n == $nPriority'>
							<option value='{=$n}' selected='selected'>{=$n}</option>
						<else />
							<option value='{=$n}'>{=$n}</option>
						</if>
					</loop>
				</select>
				</span>
					<span>
					加载顺序：
					<a href='#' onclick="changeOrder('{=$sExtName}','up')" class="ex_up"><img src='/extensions/coresystem/0.1/public/images/ex_up.png' title="向上" /></a>
					<a href='#' onclick="changeOrder('{=$sExtName}','down')" class="ex_down"><img src='/extensions/coresystem/0.1/public/images/ex_down.png' title="向下" /></a>
					</span>
				</div>			
			</div>


				

			
			</dd>
			<dd>
			<div class='description'>
				描述：<pre class='descontent'>{=$arrEnabledExtensions[$sExtName]->metainfo()->description()}</pre>
			</div>
			</dd>
			<dd>
			<div class='showRelationBlock clearfix'>
				<div class="yl"><div class="yl_tit">依赖：<a class='btnShowDep' onclick='showDep("{=$sExtName}",this)'><img src='/extensions/coresystem/0.1/public/images/ex_jia.png' title="展开" /></a></div><div class='showDepBlock'></div></div>
				<div class="byl"><div class="byl_tit">被依赖：<a class='btnShowDepBy' onclick='showDepBy("{=$sExtName}",this)'><img src='/extensions/coresystem/0.1/public/images/ex_jia.png' title="展开" /></a></div><div class='showDepByBlock'></div></div>
			</div>
			</dd>
		</dl>
	</foreach>
	</div>
</foreach>
<h2>禁用的扩展</h2>
<foreach for="$arrDisabledExtensionMetainfos" item="aExtensionMetainfo">
	<div class='extension'>
		<div class='logo'>
			<img src='/extensions/coresystem/0.1/public/images/ex_icon.png' />
		</div>
		<div class='titleBlock'>
			<div class='extTitle'>{=$aExtensionMetainfo->title()}</div>
			(
				<div class='extName'>{=$aExtensionMetainfo->name()}</div>
				ver : <div class='extVer'>{=$aExtensionMetainfo->version()}</div>
			)
		</div>
		<div class='enable'>
			<a href='#' onclick='enableExtension("{=$aExtensionMetainfo->name()}");return false;'>启用</a>
		</div>
	</div>
</foreach>

</if>
