<style>
.dep{
	padding-left:20px;
}
.warning{
	color:red;
}
.selectUnistallType{
	display:none;
}
.selectUnistallTypeItem{
	padding-left:20px;
}
.selectDisableType{
	display:none;
}
.selectDisableTypeItem{
	padding-left:20px;
}
</style>
<script type='text/javascript'>
function changePriority(name,priority){
	window.location='/?c=org.opencomb.coresystem.system.ExtensionManager&act=changePriority&name='+name+'&priority='+priority;
}
</script>
<msgqueue />
<h2>已经启用的扩展</h2>
<foreach for="$arrPriority" item="arrExtName" key="nPriority">
	<h3>优先级：{=$nPriority}</h3>
	<table>
		<tr><th>name</th><th>title</th><th>version</th><th>dependence</th><th>禁用</th><th>operator</th></tr>
	<foreach for="$arrExtName" item="sExtName">
		<tr>
			<td>{=$sExtName}</td>
			<td>{=$arrEnabledExtensions[$sExtName]->metainfo()->title()}</td>
			<td>{=$arrEnabledExtensions[$sExtName]->metainfo()->version()}</td>
			<td>
				<if "$aDependence=$arrEnabledExtensions[$sExtName]->metainfo()->dependence()">
					<ul class='dep'>
						<foreach for="$aDependence->iterator()" item="dep">
							<li>{=$dep->itemName()}</li>
						</foreach>
					</ul>
				<else />
					无
				</if>
			</td>
			<td>
				<a href='/?c=org.opencomb.coresystem.system.ExtensionManager&act=disable&name={=$sExtName}'>禁用</a>
				<if 'isset($arrDependenceBy[$sExtName])'>
					<div class="recursionDisableList warning">
						将会禁用以下扩展：
						<ul>
							<foreach for='$arrDependenceBy[$sExtName]' item='sDepName'>
								<li>{=$sDepName}</li>
							</foreach>
						</ul>
					</div>
				</if>
			</td>
			<td>
				更改优先级<select onchange="changePriority('{=$sExtName}',this.value)">
					<loop end='9' var='n'>
						<if '$n == $nPriority'>
							<option value='{=$n}' selected='selected'>{=$n}</option>
						<else />
							<option value='{=$n}'>{=$n}</option>
						</if>
					</loop>
				</select>
				<a href='#' onclick="selectUnistallType(this)">卸载</a>
				<div class="selectUnistallType">
					请选择卸载方式：
					<div class="selectUnistallTypeItem">
						<a href='/?c=org.opencomb.coresystem.system.ExtensionManager&act=uninstall&name={=$sExtName}&type=self_only'>非递归卸载</a>
						</div>
					<div class="selectUnistallTypeItem">
						<a href='/?c=org.opencomb.coresystem.system.ExtensionManager&act=uninstall&name={=$sExtName}&type=recursion'>递归卸载
							<div class="warning">（将会卸载掉所有依赖此扩展的扩展）</div>
							</a>
						</div>
				</div>
			</td>
		</tr>
	</foreach>
	</table>
</foreach>
<h2>禁用的扩展</h2>
<table>
	<tr><th>name</th><th>title</th><th>version</th><th>启用</th></tr>
	<foreach for="$arrDisabledExtensionMetainfos" item="aExtensionMetainfo">
		<tr>
			<td>{=$aExtensionMetainfo->name()}</td>
			<td>{=$aExtensionMetainfo->title()}</td>
			<td>{=$aExtensionMetainfo->version()}</td>
			<td>
				<a href='/?c=org.opencomb.coresystem.system.ExtensionManager&act=enable&name={=$aExtensionMetainfo->name()}'>启用</a>
			</td>
		</tr>
	</foreach>
</table>
