<lib name="jquery.ui" />

<h1>系统重建</h1>

<div>
	<div id="eleProgressbar" style="text-align:center;width:200px;float:left"></div>
	
	<div style="float:left;padding-left:20px;width:200px">
		<div>
			<span id="elePercent">0%</span>
			<span style="padding-left:10px" id="spnCompiledClassNum">0</span>/<span id="spnNeedCompileClassNum">0</span>
		</div>
		<div id="divMessage"></div>
	</div>
</div>

<div style="clear:both"></div>

<button id="btnStart" onclick="start()">开始</button>



<a href="javascript:void(0)" onclick="jquery('#divLog').toggle()">log</a>
<div id="divLog" style="display:none"></div>


<script type="text/javascript">
<!--
var arrAllClasses = {=$arrClasses} ;
var arrUncompiledClasses = [] ;
var sShutDownBackdoorSecret ;


jquery(function(){
	jquery('#eleProgressbar').progressbar({'value':0}) ;
	jquery('#spnNeedCompileClassNum').html(arrAllClasses.length) ;
}) ;

function updateProgress()
{
	var percent = Math.ceil(((arrAllClasses.length-arrUncompiledClasses.length)/arrAllClasses.length)*100) ;
	jquery('#eleProgressbar').progressbar('option','value',percent) ;
	jquery('#elePercent').html( percent + '%' ) ;
	jquery('#spnCompiledClassNum').html(arrAllClasses.length-arrUncompiledClasses.length) ;
}

function start()
{
	arrUncompiledClasses = arrAllClasses.slice(0) ;
	
	updateProgress() ;
	
	jquery('#btnStart').attr('disabled',true) ;
	jquery('#divMessage').html("<div>正在重建系统，该过程可能会持续几分钟，请耐心等待……</div>") ;
	
	// 第一步关闭系统
	jquery.ajax({
		url: '?c=org.opencomb.coresystem.system.RebuildPlatform&act=shutdownPlatform&rspn=var.json'
		, beforeSend: function(req){
			jquery('#divLog').append("<div>"+this.url+"</div>") ;
		}
		, complete: function(rspn) {
			try{
				var response = jQuery.parseJSON(rspn.responseText) ;
				if( response.success == 1 )
				{
					jquery('#divLog').append("<div>系统已经临时关闭。</div>") ;
					clearPlatformCache() ;
				}
				sShutDownBackdoorSecret = response.shutdown_backdoor_secret_key ;
			}catch (e){
				jquery('#divMessage').html("<div>重建系统前，关闭系统失败。</div>"+rspn.responseText) ;
				jquery('#btnStart').attr('disabled',false) ;
				throw e ;
			}
		}
	}) ;
}

function clearPlatformCache()
{
	jquery('#btnStart').attr('disabled',true) ;

	// 第二步清理系统缓存
	jquery.ajax({
		url: '?c=org.opencomb.coresystem.system.RebuildPlatform&act=clear&rspn=var.json&shutdown_backdoor_secret_key='+sShutDownBackdoorSecret
		, beforeSend: function(req){
			jquery('#divLog').append("<div>"+this.url+"</div>") ;
		}
		, complete: function(rspn) {
			try{
				var response = jQuery.parseJSON(rspn.responseText) ;
				if( response.success == '1' )
				{
					jquery('#divLog').append("<div>清理系统完毕。</div>") ;
					jquery('#btnStart').attr('disabled',false) ;
				}

				jquery('#divLog').append("<div>开始编译类……</div>") ;
				compileClasses() ;
				
			}catch (e){
				jquery('#divMessage').html("<div>清理系统缓存失败。</div>") ;
				jquery('#btnStart').attr('disabled',false) ;
				throw e ;
			}
		}
	}) ;
	
}

function compileClasses()
{
	jquery('#btnStart').attr('disabled',true) ;
	
	updateProgress() ;
	
	if(arrUncompiledClasses.length<=1)
	{
		restartSystem() ;
		return ;
	}
	
	else
	{
		var arrCompilingClasses = arrUncompiledClasses.slice(0,10) ;
	
		// 第三步陆续提交编译类
		jquery.ajax({
			url: '?c=org.opencomb.coresystem.system.RebuildPlatform&act=compileClasses&rspn=var.json&shutdown_backdoor_secret_key='+sShutDownBackdoorSecret
			, data: {classes:arrCompilingClasses}
			, beforeSend: function(req){
				jquery('#divLog').append("<div>"+this.url+"</div>") ;
			}
			, complete: function(rspn) {
				try{
					var response = jQuery.parseJSON(rspn.responseText) ;
					if( response.success == '1' )
					{
						for(var i=0;i<response.arrCompileds.length;i++)
						{
							// 从 arrUncompiledClasses 中删除已经编译完成的类
							for(var n=0;n<arrUncompiledClasses.length;n++)
							{
								if(arrUncompiledClasses[n]==response.arrCompileds[i])
								{
									arrUncompiledClasses.splice(n,1) ;
									break
								}
							}
							
							updateProgress() ;
							
							jquery('#divLog').append("<div>"+response.arrCompileds[i]+"</div>") ;
						}

						compileClasses() ;
						
						return ;
					}
					
				}catch (e){ }

				jquery('#divMessage').html("<div>编译类遇到错误:"+rspn.responseText+"</div>") ;
				jquery('#btnStart').attr('disabled',false) ;
			}
		}) ;
	}
}

function restartSystem()
{
	jquery('#btnStart').attr('disabled',false) ;
	
	jquery('#divLog').append("<div>正在重启系统……</div>") ;
	
	// 第四步 重启系统
	jquery.ajax({
		url: '?c=org.opencomb.coresystem.system.RebuildPlatform&act=restartPlatform&rspn=var.json&shutdown_backdoor_secret_key='+sShutDownBackdoorSecret
		, complete: function(rspn) {
			try{
				var response = jQuery.parseJSON(rspn.responseText) ;
				if( response.success == '1' )
				{
					jquery('#btnStart').attr('disabled',false) ;		
					jquery('#divMessage').html("<div>系统重建完成。</div>") ;
				}
			}catch (e){
				jquery('#divMessage').html("<div>重启系统是遇到错误:"+rspn.responseText+"</div>") ;
			}

			jquery('#btnStart').attr('disabled',false) ;
		}
	}) ;
}
//-->
</script>

