<style>
.system-release li{
	padding-top:10px;
	padding-left:10px;
}
.crnv{
	color: #09C;
	text-decoration: none;
}
</style>
<msgqueue />
<h1>当前版本</h1>
<ul>
	<li>蜂巢平台:{=$aPlatformVersion}</li>
	<li>JeCat框架:{=$aFrameworkVersion}</li>
</ul>
<h1>可用的发行版本</h1>
<ul class="system-release">
	<foreach for="$arrRelease" item="aRelease">
		<li>
			<h4>{=$aRelease['title']}</h4>
			<ul>
				<li>组件版本
					<ul>
						<li>蜂巢平台:{=$aRelease['version']['platform']}</li>
						<li>JeCat框架:{=$aRelease['version']['framework']}</li>
						<li>扩展
							<ul>
								<foreach for="$aRelease['version']['extension']" item="aExt" key="sExtName">
									<li>{=$sExtName}:{=$aExt}</li>
								</foreach>
							</ul>
						</li>
					</ul>
				</li>
				<li>状态：{=$aRelease['status']}</li>
				<li>版本仓库：{=$aRelease['repos']}</li>
				<li>
					<if "$aRelease['version']['platform']->compare( $aPlatformVersion ) === 0
						and $aRelease['version']['framework']->compare( $aFrameworkVersion ) === 0 ">
						<div class="crnv">与当前版本相同</div>
					<else/>
						<form method="post" action="?c=org.opencomb.coresystem.system.SystemUpgrade">
							<input type="hidden" name="url" value="{=urlencode($aRelease['url'])}" />
							<input type="hidden" name="title" value='{=$aRelease["title"]}' />
							<input type='submit' value="下载安装" />
						</form>
					</if>
				</li>
			</ul>
		</li>
	</foreach>
</ul>
