<div class='loginForm'>

	<msgqueue />
	
	<if "$forwarding">
		<a href="{=$forwarding}">正在前往您准备浏览的网页……</a>
		<script type="text/javascript">
			setTimeout(function(){location.href='{=$forwarding}'},3000) ;
		</script>
	<else '$success'/>
		<a href="/">登录成功, 正在前往首页, 点击直接跳转</a>
		<script type="text/javascript">
			setTimeout(function(){location.href='/'},3000) ;
		</script>
	</if>

	<form method="post" class="forgap">
	
		<div class="loginmess">
			<span>用户名　：</span>
			<widget id="username" type='text' v.len.min="10" v.len.max="20" />
		</div>
		<div class="loginmess">
			<span>密　码　：</span>
			<widget id="password" type='password' v.len.min="6" v.len.max="20" />
		</div>
		<div class="loginPadLeft">
			<label>
				<input id=rememberme name="rememberme" type="checkbox" value='1' />
				记住密码
			</label>
			<input type='hidden' name='forward' e:value="$theParams->get('forward')?:'?c=index'" />
			<input class="loginbtn" type="submit" value="登录" /> 
		</div>
		
		<a class="loginMarginLeft" href="?c=register">注册新用户</a>
	</form>
</div>