<style>
div.purview{
	float:left ;
	margin-top:6px;	
	margin-right:20px;	
}
</style>

<h1>{=$sPageTitle}</h1>

<msgqueue />


<form method="post">
	
	<br />
	<h2>权限</h2>	
	<foreach for="$arrRegisteredPurviews" item="arrExtension" key="sExtName">
	<div>
		<h3>扩展：{=\org\opencomb\platform\ext\Extension::flyweight($sExtName)->metainfo()->title()} ({=$sExtName})</h3>
	
		<foreach for="$arrExtension" item="arrPurviewList" key="sPurviewCategory">
		<div style="margin-left:30px;margin-top:10px;">
			<h4>{=$sPurviewCategory}</h4>
		
			<foreach for="$arrPurviewList" item="arrPurview">
				
				<div class="purview">
					<label>
						<input type="checkbox" name="purviews[{=$sExtName}][{=$arrPurview['name']}][{=$arrPurview['target']}][checked]" value='1' {#? if(!empty($arrPurview['checked'])){ #}checked{#? } #}/>
						{=$arrPurview['title']}
					</label>
					
					<if "$type=='group'">
					<div style="margin-left:20px">
						<div>
							<label>
								<input type="checkbox" name="purviews[{=$sExtName}][{=$arrPurview['name']}][{=$arrPurview['target']}][checked:inheritance]" title='下级分类可继承此权限' value='1' {#? if(!empty($arrPurview['checked:inheritance'])){ #}checked{#? } #}/>
								向下继承
							</label>
						</div>
						<div>
							<label>
								<input type="checkbox" name="purviews[{=$sExtName}][{=$arrPurview['name']}][{=$arrPurview['target']}][checked:bubble]" title='上级分类可获得此权限' value='1' {#? if(!empty($arrPurview['checked:bubble'])){ #}checked{#? } #}/>
								向上”冒泡“
							</label>
						</div>
					</div>
					</if>
				</div>
				
			</foreach>
	
			<div style="clear:both"></div>
			
		</div>
		</foreach>
	
		<div style="clear:both"></div>
		
	</div>
	</foreach>

	<br />
	<h2>未注册权限</h2>
	<foreach for="$arrUnregisteredPurviews" item="arrPurviewList" key="sExtName">
	<if "$aExtMetainfo=\org\opencomb\platform\ext\Extension::flyweight($sExtName)">
	<div>
		<h3>扩展：{= $aExtMetainfo->metainfo()->title() } ({=$sExtName})</h3>
	
		<div style="margin-left:30px;margin-top:10px;">
		
			<foreach for="$arrPurviewList" item="arrPurviewListForTarget">
				<foreach for="$arrPurviewListForTarget" item="arrPurview" key="target">
					<div class="purview">
						
						<div>名称：{=$arrPurview['name']}</div>
						<div>内容ID：{=$target?:'不限'}</div>
						<div>
							<a href="{=$theRequest->uri( null ,array('purview'=>$arrPurview['name'],'target'=>$target,'purviewNamespace'=>$sExtName) ) }&{=$theController->makeActionQuery('deleteUnregisterPurview')}">删除</a>
						</div>
					
					</div>
				</foreach>
			</foreach>
	
			<div style="clear:both"></div>
			
		</div>
	
		<div style="clear:both"></div>
		
	</div>
	</if>
	</foreach>
	
	
	<br />
	<div>
		<h3>添加未注册的权限</h3>
		<div>
			所属扩展：<input type="text" name="addUnregisterPurview[namespace]" />
			权限名称：<input type="text" name="addUnregisterPurview[name]" />
			目标ID：<input type="text" name="addUnregisterPurview[target]" style="width:60px" />
		</div>		
	</div>
	<br />

	<input class="coresystem-form-button" type="submit" value="保存" /> <a href="?c=org.opencomb.coresystem.auth.PurviewTester">权限测试</a>
</form>

<br /><br />
