<lib name='jquery' />

<h2>权限测试工具</h2>

<msgqueue />

<form method="post">

	<div>
		权限: <widget id="purview" define=false onchange="onPurviewSelectChange(this)" />
		　　　名称：<widget define=false id="purviewName" />
		扩展：<widget define=false id="purviewNamespace" />
	</div>

	<div>
		用户ID: <widget define=false id="userid" />
	</div>

	<div>
		内容ID: <widget define=false id="target" />
		<widget id="ignoreTarget" define=false attr.onclick="jquery('#target').attr('disabled',this.checked)" />
	</div>
	
	<input type="submit" value="测试" />
	
</form>
<script>
function onPurviewSelectChange(eleSelect)
{
	var selectValue = eleSelect.options[eleSelect.selectedIndex].value ;
	var arrSplits = selectValue.split(":",2) ;
	jquery('#purviewName').val(arrSplits[1]) ;
	jquery('#purviewNamespace').val(arrSplits[0]) ;
}

jquery(function(){
	
	document.getElementById('purview').selectedIndex = -1 ;
}) ;

</script>